$pink: #ff1552;
$white: #fff;
$my_black: #2f3640;
$orange: #fd7e14;
$grey: #cecdcdab;

.main {
  background-image: url(../../images/home-2.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  height: 100vh;
  width: 100%;
  overflow: hidden;
}

.overlay-img {
  height: 100%;
  background: rgba(167, 167, 167, 0.341);
  z-index: 2;
  overflow: hidden;
  position: relative;
  padding: 2.5rem 4.5rem;
}

.grid-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 3rem;
}

.main-heading {
  position: absolute;
  color: #db0632;
  font-family: 'UbuntuBold';
  font-size: 4.7rem;
  // text-transform: uppercase;
}

.sub-heading {
  font-size: 9.5rem;
  font-family: 'UbuntuBold';
  position: absolute;
  bottom: 4.5rem;
}

.dot {
  height: 18px;
  width: 18px;
  background-color: #db0632;
  border-radius: 50%;
  display: inline-block;
}

.sub-heading__2 {
  font-size: 3.5rem;
  font-family: 'UbuntuRegular';
  position: absolute;
  bottom: 2.5rem;
}

.description {
  font-family: 'UbuntuRegular';
  font-size: 1.5rem;
  position: absolute;
  top: 4.5rem;
  right: 4.5rem;
  width: 40%;
  color: #414141;
}

.menu {
  font-family: 'UbuntuRegular';
  font-size: 1.5rem;
  position: absolute;
  bottom: 2.5rem;
  right: 4.5rem;
  display: flex;
  flex-direction: column;

  a {
    text-decoration: none;
    color: #414141;

    &:hover {
      font-family: 'UbuntuRegularItalic';
      color: black;
    }
    
  }
}

.auth_buttons {
  button {
    border: none;
    position: fixed;
    border-radius: 4px;
    text-align: center;
    font-size: 1rem;
    text-transform: uppercase;
    padding: 10px 20px 10px 20px;
    width: auto;
    transition: all 0.5s;
    cursor: pointer;
    margin: 5px;
    border: 2px solid $orange;
    letter-spacing: 0.1em;
    margin-top: 300px;
    & span {
      cursor: pointer;
      display: inline-block;
      position: relative;
      transition: 0.5s;
      &:after {
        content: "\00bb";
        position: absolute;
        opacity: 0;
        top: -32px;
        right: -20px;
        transition: 0.9s;
        font-size: 50px;
      }
    }
    &:hover span {
      padding-right: 26px;
      &:after {
        opacity: 1;
        right: 0;
      }
    }
  }

  #donate_button {
    background-color: $orange;
    margin-left: 40.5rem;
    color: $white;
    
    // @media screen and (max-width: 960px) {
    //   margin-left: 485px;
    // }
  }

  #volunteer_button {
    background-color: transparent;
    color: $orange;
    margin-left: 370px;

    // @media screen and (max-width: 960px) {
    //   margin-left: 245px;
    // }
  }
}
